<h1 class="pt-3" style="text-align: center;">{{tittle}}</h1>
<mat-card>
  <mat-stepper #stepper class="example-form" [linear]="true">
    <mat-step [stepControl]="dadosPessoaisForm">
      <form [formGroup]="dadosPessoaisForm">
        <ng-template matStepLabel>Dados do Paciente</ng-template>
        <div class="row">
          <div class="col-3">
            <mat-form-field appearance="outline" class="full-width-field">
              <mat-label [style.fontSize.px]="15">CPF</mat-label>
              <input matInput mask="000.000.000-00" formControlName="cpf" [value]="atendimento?.cpfPaciente" (change)="consultarPorCPF()">
              <mat-error *ngIf="isValidated(dadosPessoaisForm, 'cpf')">{{"CPF é obrigatório."}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field appearance="outline" class="full-width-field">
              <mat-label [style.fontSize.px]="15">Name Completo</mat-label>
              <input matInput placeholder="" formControlName="nome">
              <mat-error *ngIf="isValidated(dadosPessoaisForm, 'nome')">{{"Nome é obrigatório."}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline" class="full-width-field">
              <mat-label [style.fontSize.px]="15">RG
              </mat-label>
              <input matInput mask="AA-00.000.000" placeholder="MG-99.999.999" formControlName="rg">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <mat-form-field appearance="outline" class="full-width-field">
              <mat-label [style.fontSize.px]="15">Data de Nascimento</mat-label>
              <input id="dataNascimentoPaciente" matInput [matDatepicker]="pickerNascimento" placeholder="01/01/1900" formControlName="dataNascimento">
              <mat-error *ngIf="isValidated(dadosPessoaisForm, 'dataNascimento')">{{"Data de Nascimento é obrigatório."}}</mat-error>
              <mat-datepicker-toggle matSuffix [for]="pickerNascimento"></mat-datepicker-toggle>
              <mat-datepicker #pickerNascimento></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline" class="full-width-field">
              <mat-label [style.fontSize.px]="15">Email</mat-label>
              <input type="email" matInput placeholder="exemplo@email.com" formControlName="email">
              <mat-error *ngIf="isValidated(dadosPessoaisForm, 'email') && !dadosPessoaisForm.get('email')?.value">
                {{"Email é obrigatório."}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline" class="full-width-field">
              <mat-label [style.fontSize.px]="15">Celular</mat-label>
              <input matInput mask="(00) 00000-0000" placeholder="(99) 99999-9999"  formControlName="contato">
              <mat-error *ngIf="isValidated(dadosPessoaisForm, 'contato')">{{"Celular é obrigatório."}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline" class="full-width-field">
              <mat-label [style.fontSize.px]="15">Telefone Fixo
              </mat-label>
              <input matInput mask="(00) 0000-0000" placeholder="(99) 9999-9999" formControlName="contatoFixo">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4" style="padding-left: 26px;">
            <button mat-raised-button matStepperNext color="primary" style="width: 166px;">Proximo</button>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="dadosAtendimentoForm">
      <form [formGroup]="dadosAtendimentoForm">
        <ng-template matStepLabel>Horário do atendimento</ng-template>
        <div class="row">
            <div class="col-6">
              <mat-form-field appearance="outline" class="full-width-field">
                <mat-label [style.fontSize.px]="15">Data do Atendimento</mat-label>
                <input id="dataAtendimento" [value]="atendimento?.dataAtendimento" matInput [matDatepicker]="picker" placeholder="01/01/1900" formControlName="dataAtendimento">
                <mat-error *ngIf="isValidated(dadosAtendimentoForm, 'dataAtendimento')">{{"Data do Atendimento é obrigatório."}}</mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field appearance="outline" class="full-width-field">
                <mat-label [style.fontSize.px]="15">Horário</mat-label>
                <input matInput placeholder="" [value]="atendimento?.horario" formControlName="horario" mask="99:99">
                <mat-error *ngIf="isValidated(dadosAtendimentoForm, 'horario')">{{"Horário é obrigatório."}}</mat-error>
              </mat-form-field>
            </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field appearance="outline" class="full-width-field">
              <mat-label [style.fontSize.px]="15">Local
              </mat-label>
              <input matInput formControlName="local" [value]="atendimento?.local">
              <mat-error *ngIf="isValidated(dadosAtendimentoForm, 'local')">{{"Local é obrigatório."}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4" style="padding-left: 26px;">
            <button mat-raised-button matStepperNext color="primary" style="width: 166px;">Proximo</button>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="informacoesForm" label="Observações">
      <form [formGroup]="informacoesForm">
        <div class="row">
          <div class="col-12">
            <mat-form-field appearance="outline" class="full-width-field">
              <mat-label>Observações</mat-label>
              <textarea matInput [value]="atendimento?.observacao" formControlName="info"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3" style="padding-left: 26px;">
            <button type="button" mat-button matStepperPrevious color="accent" style="width: 166px;">Voltar</button>
          </div>
          <div class="col-lg-3">
            <button type="button" mat-raised-button matStepperNext color="primary" style="width: 166px;" (click)="salvar()">Salvar</button>
          </div>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</mat-card>
